<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta charset="UTF-8" http-equiv="content-type" content="text/html;charset=utf-8"></meta><meta http-equiv="X-UA-Compatible" content="IE=edge"></meta><meta name="viewport" content="width=device-width, initial-scale=1.0"></meta><title>История обновлений</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"></link><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"></link></head><body>
    
<style>
        h2,
        h3,
        h4 {
            text-align: center;
        }

        .wrapper,
        .footer {
            border: 1px grey solid;
            border-left: 8px grey solid;
        }

        .wrapper h5,
        b {
            padding-left: 1pc;
        }

        .footer {
            padding-left: 1pc;
        }
    </style><div class="container">
        
<h2>История обновлений</h2>
        
<h3>Мастер ра</h3>
        
<h4>http://web.nprogramma.ru/und_00000002</h4>
        
<div class="wrapper">
            
<h5> <u>Версия 2</u></h5>
            
<p></p>
            <b>2.2</b>
            
<ul><li>В справочник "Сотрудники" добавлено поле "Электронная почта"</li>
                
<li>В "Задачи пользователя" добавлена кнопка "Отправить на эл. почту"</li>
                
<li>Добавлена роль"Редактирование задач"</li>
                
<li>В "Задачи пользователя" добавлен реквизит "Комментарий исполнитель" </li>
                
<li>В форму списка "Задачи пользователя" добавлен отбор по "Исполнителю"</li>
                
<li>В "Задачи пользователя" добавлено поле "Автор"</li>
                
<li>В "Задачи пользователя" добавлено поле "Проверяющий"</li>
                
<li>В "Задачи пользователя" Добавлен реквизит "Комментарий проверяющий" </li>
                
<li>В "Задачи пользователя" добавлено поле "Дата выполнения"</li>
                
<li>В "Задачи пользователя" добавлено поле "Проект"</li>
            </ul></div>
        
<div class="footer">
            Дата выхода: июнь 2021
        </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script></body></html>